# Ignore system and personal files and directories
.CFUserTextEncoding
.DS_Store
.bash_history
.bash_profile
.cache/
.config/
.cups/
.docker/
.git-credentials
.gitconfig
.gitignore_global
.idea/
.idlerc/
.ipython/
.iterm2/
.iterm2_shell_integration.zsh
.jupyter/
.lesshst
.local/
.matplotlib/
.mongodb/
.node_repl_history
.npm-global/
.npm/
.npmrc
.oh-my-zsh/
.p10k.zsh
.python_history
.ssh/
.th-client/
.vscode/
.zcompdump
".zcompdump-Dutch MacBook Pro-5.8.1"
.zcompdump-iDutch D3V-5.8.1
.zcompdump-iDutch D3V-5.8.1.zwc
.zcompdump-iDutch D3V-5.9
.zcompdump-iDutch D3V-5.9.zwc
.zprofile
.zprofile.bak
.zprofile.macports-saved_2023-05-12_at_19:08:51
.zprofile.pysave
.zprofileO)
.zsh_history
.zsh_sessions/
.zshrc
.zshrc.bak
.zshrc.pre-oh-my-zsh
.zshrc.pre-oh-my-zsh-2023-03-22_16-22-04
.zshrc.pre-oh-my-zsh-2023-05-15_11-30-38

# Ignore unrelated directories
Applications/
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/
Pycharm/
colors.sh
medical-cost/
old repos/
powerlevel10k/
